@model Product
@{
    ViewData["Title"] = Model.Name;
    Layout = "/Views/Shared/_Layout.cshtml";
    List<Capacity> otherProduct = ViewBag.OtherProduct;
}

@* <partial name="_Breadcrumb" model="new List<string>()" /> *@

<div class="product-details-container bg-white px-2">
    <div class="product-heading pt-2">
        <p>@Model.Name</p>
    </div>
    <hr class="primary-text opacity-25 mt-0">
    <div class="product-info row">
        <div class="col-lg-4 col-md-6">
            <div class="photo-slide">
                <div id="product-proto-slide" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators flex-wrap mx-3 my-0">
                        @{
                            int i = 0;
                            if (Model.Photos != null)
                            {
                                foreach (var item in Model.Photos)
                                {
                                    <button type="button" data-bs-target="#product-proto-slide" data-bs-slide-to="@i"
                                    class="sm-photo-btn" aria-current="true" aria-label="Hình ảnh @i">
                                        <div class="sm-photo-box">
                                            <img src="/files/Products/@item.Name" class="sm-photo d-block w-100" alt="...">
                                        </div>
                                    </button>
                                    i++;
                                }
                            }
                            if (Model.Colors != null)
                            {
                                bool isFirst = true; // Active ảnh đầu tiên của color
                                foreach (var item in Model.Colors)
                                {
                                    if (item.Image != null)
                                    {
                                        <button id="btn-show-color-image-@item.Id" type="button" data-bs-target="#product-proto-slide" data-bs-slide-to="@i"
                                        class="sm-photo-btn @if(isFirst) {@("active"); isFirst = false;}" aria-current="true" aria-label="Hình ảnh @i">
                                            <div class="sm-photo-box">
                                                <img src="/files/Products/@item.Image" class="sm-photo d-block w-100" alt="...">
                                            </div>
                                        </button>
                                        i++;
                                    }
                                }
                            }
                        }
                    </div>
                    <div class="carousel-inner">
                        @{
                            if (Model.Photos != null)
                            {
                                foreach (var item in Model.Photos)
                                {
                                    <div class="carousel-item">
                                        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                                            <img src="/files/Products/@item.Name" class="" alt="...">
                                        </div>
                                    </div>
                                }
                            }
                            if (Model.Colors != null)
                            {
                                bool isFirst = true;
                                foreach (var item in Model.Colors)
                                {
                                    if (item.Image != null)
                                    {
                                        <div class="carousel-item  @if(isFirst) {@("active"); isFirst = false;}">
                                            <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                                                <img src="/files/Products/@item.Image" class="" alt="...">
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#product-proto-slide"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#product-proto-slide"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6">
            <div class="product-options">
                <div class="options-color">
                    <p class="fw-semibold heading">Chọn màu: </p>
                    <ul class="colors-list" id="color-list">
                        @if(Model.Colors != null)
                        {
                            bool isFirst = true;
                            foreach(var item in Model.Colors)
                            {
                            <li class="color-item @if(isFirst) {@("active"); isFirst=false;}" data-id="@item.Id" onclick="chooseOption(@item.Id)">
                                <span class="color-name">@item.Name</span>
                                <span class="color-checked"><i class="fa-solid fa-check"></i></span>
                            </li>
                            }
                        }
                    </ul>
                </div>

                <div class="options-price">
                    <p class="fw-semibold heading">Chọn bộ nhớ:</p>
                    @if(Model.Colors != null)
                    {
                        bool isFirst = true;
                        foreach (var color in Model.Colors)
                        {
                            if (color.Capacities != null)
                            {
                                <ul class="prices-list colors-list @if(isFirst) {@("active")}" data-id="@color.Id">
                                @foreach (var capa in color.Capacities)
                                {
                                    <li class="price-item @if(isFirst) {@("active"); isFirst=false;}" data-id="@capa.Id"  onclick="chooseOption(@color.Id, @capa.Id)">
                                        <span class="price-name">@(capa.Ram + "GB/" + (capa.Rom % 1024 == 0 ? capa.Rom/1024 + "TB" : capa.Rom + "GB"))</span>
                                        <span class="price-default">@capa.SellPrice.ToString("N0", new CultureInfo("vi-VN"))<sup>đ</sup></span>
                                        <span class="price-checked"><i class="fa-solid fa-check"></i></span>
                                    </li>
                                }
                                </ul>
                            }
                        }
                    }
                </div>
            </div>
            <div class="product-promotion">
                <ul class="product-promotion-list">
                    <li class="product-promotion-item"><i class="fa-solid fa-caret-right"></i> Bảo hành 12 tháng</li>
                    <li class="product-promotion-item"><i class="fa-solid fa-caret-right"></i> Lỗi 1 đổi 1 trong 15 ngày đầu nếu lỗi của NSX</li>
                    <li class="product-promotion-item"><i class="fa-solid fa-caret-right"></i> Tặng Voucher giảm giá <span class="primary-text">100.000đ</span> khi thanh toán trực tuyến</li>
                    <li class="product-promotion-item"><i class="fa-solid fa-caret-right"></i> Tặng miến dán cường lực chất lượng cao</li>
                    <li class="product-promotion-item"><i class="fa-solid fa-caret-right"></i> Tặng ốp lưng silicon siêu bền</li>
                </ul>
            </div>
            <div class="product-action">
                <div class="row align-items-center">
                    <div class="col-lg-7 offset-lg-1 col-md-9">
                        <a class="btn primary-bg text-white fs-6 fw-normal w-100 pt-1 pb-2 btn-buy-now">
                            <span>Mua ngay</span>
                            <p>Giao tại nhà (COD) hoặc nhận tại cửa hàng</p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <span class="btn btn-add-to-cart" onclick="AddToCart()">
                            <i class="primary-text fa-solid fa-cart-plus"></i>
                            <p>Thêm vào giỏ</p>
                        </span>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-3">
            <div class="other-product">
                <h6 class="heading primary-bg text-white py-2 fw-normal text-center rounded">
                    Có thể bạn quan tâm
                </h6>
                <ul class="other-product-list">
                    @foreach(var item in otherProduct)
                    {
                        <li class="other-product-item">
                            <div class="row h-100 gx-0">
                                <div class="col-lg-4">
                                    <div class="other-product-item-img">
                                        <img src="/files/Products/@item.Color?.Image" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="other-product-item-info">
                                        <a href="@Url.Action("Details", "ViewProduct", new {area = "Products", slug = @item.Color?.Product?.Slug})" class="other-product-item-name text-decoration-none text-dark">@item.Color?.Product?.Name</a>
                                        <span class="other-product-item-price primary-text mt-1">@item.SellPrice.ToString("N0", new CultureInfo("vi-VN"))<sup>đ</sup></span>
                                        <a href="@Url.Action("Details", "ViewProduct", new {area = "Products", slug = @item.Color?.Product?.Slug})" href="#" class="other-product-item-link">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="row ps-2">
        <div class="col-lg-8 product-description" id="product-description">
            <hr class="primary-text">
            <div class="desc-content">
                @Html.Raw(Model.Description)
            </div>
            <div class="product-description-action">
                <button class="btn" id="btn-show-desc">Xem thêm</button>
                <button class="btn" id="btn-hide-desc" style="display: none;">Ẩn bớt</button>
            </div>
        </div>
        <div class="col-lg-4 product-configuration mt-4">
            <p class="product-configuration-heading primary-bg rounded text-white text-center py-2">Thông số kỹ thuật</p>
            <table class="configuration-table table table-striped">
                <tr class="configuration-table-row">
                    <td class="col-4">Tên sản phẩm</td>
                    <td class="col-6">@Model.Name</td>
                </tr>
                <tr class="configuration-table-row">
                    <td class="col-4">Hãng sản xuất</td>
                    <td class="col-6">@Model.Brand?.Name</td>
                </tr>
                <tr class="configuration-table-row">
                    <td class="col-4">Năm ra mắt</td>
                    <td class="col-6">@Model.ReleaseDate?.ToString("MM/yyyy")</td>
                </tr>
                <tr class="configuration-table-row">
                    <td class="col-4">Kích thước màn hình</td>
                    <td class="col-6">@Model.ScreenSize</td>
                </tr>
                <tr class="configuration-table-row">
                    <td>Camera</td>
                    <td>@Model.Camera</td>
                </tr>
                <tr class="configuration-table-row">
                    <td>Chipset</td>
                    <td>@Model.Chipset</td>
                </tr>
                <tr class="configuration-table-row">
                    <td>Dung lượng Ram</td>
                    <td>@{
                            var ram = Model.Colors?.FirstOrDefault()?.Capacities.Select(c => c.Ram.ToString() + " GB").Distinct();
                            <text>@string.Join(", ", ram)</text>
                        }
                    </td>
                </tr>
                <tr class="configuration-table-row">
                    <td>Bộ nhớ trong</td>
                    <td>@{
                            var rom = Model.Colors?.FirstOrDefault()?.Capacities.Select(c => c.Rom.ToString() + " GB").Distinct();
                            <text>@string.Join(", ", rom)</text>
                        }
                    </td>
                </tr>
                <tr class="configuration-table-row">
                    <td>Pin</td>
                    <td>@(Model.Battery)mAh (@(Model.Charger)W)</td>
                </tr>
                <tr class="configuration-table-row">
                    <td>Thẻ sim</td>
                    <td>@Model.SIM</td>
                </tr>
                <tr class="configuration-table-row">
                    <td>Hệ điều hành</td>
                    <td>@Model.OS</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header align-items-center">
            <i class="text-warning fs-6 fa-solid fa-circle-exclamation"></i>
            <span class="ms-2 me-auto fs-6">Đã thêm sản phẩm vào giỏ hàng</span>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        const toastElement = $('#liveToast');
        const toast = new bootstrap.Toast(toastElement.get(0));
        const showToast = function(status, message) {
            const iconClass = status == 1 ? "text-success fa-solid fa-circle-check" : "text-warning fs-6 fa-solid fa-circle-exclamation";
            const toastHtml = `
                <div class="toast-header align-items-center">
                    <i class="${iconClass}"></i>
                    <span class="ms-2 me-auto fs-6">${message}</span>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            `;
            toastElement.html("");
            toastElement.append(toastHtml);
            toast.show();
        }

        const updateCartQuantity = function(qtt)
        {
            const cartElement = $("#cart-quantity");
            if (qtt == 0)
                cartElement.css("display", "none");
            else {
                cartElement.css("display", "flex");
                cartElement.html(qtt);
            }
        }

        const AddToCart = function() {
            const productId = @Model.Id;
            const colorId = $(".color-item.active").data("id");
            const capaId = $(".price-item.active").data("id");

            if (!productId || !colorId || !capaId) {
                showToast(0, "Có lỗi xảy ra")
                return;
            }
            
            const formData = new FormData();
            formData.append("productId", productId);
            formData.append("colorId", colorId);
            formData.append("capaId", capaId);

            $.ajax({
                type: "post",
                url: '@Url.Action("AddToCart", "ViewProduct", new {area = "Products"})',
                data: formData,
                contentType: false,
                processData: false,
                cache: false,
                success: function(data) {
                    showToast(data.status, data.message);
                    if (data.qtt > 0)   updateCartQuantity(data.qtt)
                },
                error: function() {{
                    showToast(0, "Có lỗi xảy ra!");
                }}
            });

        }
        
    </script>
    <script>
        const btnShowDesc = $("#btn-show-desc");
        const btnHideDesc = $("#btn-hide-desc");
        const descContent = $("#product-description");

        btnShowDesc.click(function() {
            btnHideDesc.show();
            btnShowDesc.hide();
            descContent.addClass("active");
        });

        btnHideDesc.click(function() {
            btnShowDesc.show();
            btnHideDesc.hide();
            descContent.removeClass("active");
        });
    </script>
    <script>
        const resetActice = function() {
            $(".color-item").removeClass("active");
            $(".prices-list").removeClass("active");
            $(".price-item").removeClass("active");
        }

        const setActive = function(colorId, capaId = null)
        {
            $(".color-item").each((i, e) => {
                if ($(e).data("id") == colorId) $(e).addClass("active");
            });

            $(".prices-list").each((i, e) => {
                if ($(e).data("id") == colorId) {
                    $(e).addClass("active");
                    if (capaId) {
                        $(e).children(".price-item").each((index, element) => {
                            if ($(element).data("id") == capaId)
                            {
                                $(element).addClass("active");
                            }
                        });
                    } else
                    {
                        $(e).children(".price-item").first().addClass("active");
                    }
                }
            });

            $(`#btn-show-color-image-${colorId}`).click();
        }

        const chooseOption = function(colorId, capaId = null)
        {
            resetActice();
            setActive(colorId, capaId);
        }
    </script>
}