@model PayStatus
@{
    ViewData["Title"] = "Kết quả thanh toán";  
    Layout = "/Views/Shared/_Layout.cshtml";
    var Order = ViewBag.Order as Order;
}

<div class="payment-result mt-2 mt-md-4">
    <div class="payment-result-container">
        @if(Model.ResponseCode == "00")
        {
            <div class="result-icon">
            <img src="/images/success.png" alt="">
        </div>
        <div class="result-heading">
            <p class="text-center primary-text">Thanh toán thành công</p>
        </div>
        <div class="result-content">
            <div class="pay-success">
                <div class="row m-0">
                    <span class="fw-semibold col-4 col-md-5">Mã giao dịch:</span>
                    <span class="col-8 col-md-7">@Model.BankTranNo</span>
                </div>
                <div class="row m-0">
                    <span class="fw-semibold col-4 col-md-5">Nội dung:</span>
                    <span class="col-8 col-md-7">@Model.OrderInfo</span>
                </div>
                <div class="row m-0">
                    <span class="fw-semibold col-4 col-md-5">Thời gian:</span>
                    <span class="col-8 col-md-7">@((Model.Date ?? DateTime.Now).ToString("HH:mm dd/MM/yyyy"))</span>
                </div>
                <div class="row m-0">
                    <span class="fw-semibold col-4 col-md-5">Số tiền:</span>
                    <span class="col-8 col-md-7 primary-text fw-semibold" >@((Model.Amount/100 ?? 0).ToString("N0", new CultureInfo("vi-VN")))<sup>đ</sup></span>
                </div>
                <div class="row m-0">
                    <span class="fw-semibold col-4 col-md-5">Mã đơn hàng: </span>
                    <span class="col-8 col-md-7">@Order?.Code  (Vui lòng lưu lại để tra cứu)</span>
                </div>
                <div class="text-center mt-4">
                    <a href='@Url.Action("OrderCheck", "ViewProduct", new {area = "Products", PhoneNumber = Order?.PhoneNumber, Code = Order?.Code})' class="btn btn-order-info me-3">Chi tiết đơn hàng</a>
                    <a href="/" class="btn primary-bg text-white ">Quay lại trang chủ</a>
                </div>
            </div>
        </div>
        }
        else
        {
            <div class="result-icon">
                <img src="/images/fail.png" alt="">
            </div>
            <div class="result-heading">
                <p class="text-center text-danger">Thanh toán thất bại</p>
            </div>
            <div class="result-content">
                <div class="pay-fail">
                    <p class=" text-center fs-5">Vui lòng thử lại sau.</p>
                    <div class="row m-0">
                        <span class="col-5 col-md-4 fw-semibold">Mã đơn hàng: </span>
                        <span class="col-7 col-md-8 primary-text fw-semibold">@Order?.Code (Vui lòng lưu lại để tra cứu)</span> 
                    </div>
                </div>
                <div class="text-center mt-4">
                    <a href='@Url.Action("OrderCheck", "ViewProduct", new {area = "Products", PhoneNumber = Order?.PhoneNumber, Code = Order?.Code})' class="btn btn-order-info me-3">Chi tiết đơn hàng</a>
                    <a href="/" class="btn primary-bg text-white ">Quay lại trang chủ</a>
                </div>
            </div>
        }
        
    </div>
</div>
