@using Microsoft.AspNetCore.Identity
@using App.Services

@inject SignInManager<AppUser> _signManager
@inject UserManager<AppUser> _userManager
@inject SidebarAdminService _sidebarService

@{
    var user = await _userManager.GetUserAsync(User);
    string? displayName = "";
    string avatarPath = "/files/UserAvatar/";
    if (user != null)
    {
        displayName = user.FullName ?? user.UserName;
        avatarPath += user.UserAvatar == null ? "no-image.png" : user.UserAvatar;
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="/images/favicon.ico">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.css" />
    <link rel="stylesheet" href="~/App.styles.css" asp-append-version="true" />

</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href='@Url.Action("Index", "AdminCP")'>Trang quản trị</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

        </form>
        <!-- Navbar-->
        <ul class="navbar-nav navbar-nav-admin ms-auto ms-md-0 me-3 me-lg-4 ">
            <li class="nav-item dropdown header-navbar ">
                <a class="nav-link dropdown-toggle d-flex align-items-center " id="navbarDropdown" href="#"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="header-user-avatar d-flex justify-content-center align-items-center">
                        <img src="@avatarPath" alt="">
                    </div>
                    @displayName
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>
                        <form method="post" class="form-inline" asp-action="LogOff" asp-controller="Account"
                            asp-area="Identity">
                            <button type="submit" class="dropdown-item btn btn-link text-dark border-0">
                                Đăng xuất
                            </button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        @{
                            var controller = ViewContext.RouteData.Values["controller"]!.ToString() ?? "";
                            var area = ViewContext.RouteData.Values["area"]!.ToString() ?? "";
                            var action = ViewContext.RouteData.Values["action"]!.ToString() ?? "";
                        }
                        @Html.Raw(_sidebarService.RenderHtml(controller, area, action))
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Đã đăng nhập:</div>
                    @displayName
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main class="h-100 admin-page-container">
                <div class="container-fluid p-4 h-100">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Dphones 2023</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
    crossorigin="anonymous"></script> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/adminchat.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
