@using Microsoft.AspNetCore.Identity;
@using App.Areas.Products.Services;
@using App.Services;
@inject CartService _cart;
@inject HomeCategoryService _homeCategory;
@inject UserManager<AppUser> _userManager;

@{
    var categoryData = _homeCategory.GetData();
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body>
    <div class="wrapper d-flex flex-column">
        <header>
            <nav
                class="header-navbar navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow primary-bg">
                <div class="container-xxl">
                    <div
                        class="navbar-container d-flex align-items-center justify-content-between position-relative w-100">
                        <ul class="left-nav-bar navbar-nav align-items-center">
                            <li class="nav-item nav-item-offcanvas">
                                <a class="offcanvas-btn" data-bs-toggle="offcanvas" href="#offcanvasExample"
                                    role="button" aria-controls="offcanvasExample">
                                    <i class="offcanvas-icon fa-solid fa-bars"></i>
                                </a>
                            </li>
                            <li class="nav-item mobile-home">
                                <a class="mobile-home-link" href="/">
                                    <i class="mobile-home-icon fa-solid fa-house"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Home">
                                    <img src="~/images/logo-white.png" class="home-header-logo">
                                </a>
                            </li>
                            <li class="nav-item category-btn">
                                <div class="header-item active rounded d-flex align-items-center">
                                    <div class="header-item-icon d-flex align-items-center">
                                        <i class="text-white fa-solid fa-bars"></i>
                                    </div>
                                    <div class="header-item-text">
                                        <p class="mb-0 text-white category-text">Danh mục</p>
                                    </div>

                                </div>
                            </li>
                        </ul>
                        @{
                            categoryData.Type = CategoryType.PC;
                            @await Component.InvokeAsync("App.Components.HomeCategorySection", categoryData)
                            ;
                        }
                        <form method="get" class="center-nav-bar d-flex header-search-container flex-grow-1">
                            <input class="header-search-input form-control px-3" type="text" name="s"
                                placeholder="Bạn cần tìm gì... ?" aria-label="Search"
                                value='@Context.Request.Query["s"]'>
                            <button class="btn header-search-btn" type="submit" asp-action="Index"
                                asp-controller="ViewProduct" asp-area="Products">
                                <i class="primary-text fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                        <div class="right-nav-bar">
                            <ul class="order-action navbar-nav align-items-center">
                                <li class="nav-item">
                                    <div class="header-item active rounded p-1 d-flex align-items-center">
                                        <div class="header-item-icon d-flex align-items-center">
                                            <i class="text-white fa-solid fa-phone"></i>
                                        </div>
                                        <div class="header-item-text">
                                            <p class="mb-0 text-white text-top" style="font-size: 12px;">Gọi mua hàng
                                            </p>
                                            <p class="mb-0 text-center text-white fw-semibold text-bot">1800.1789</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="mb-0 text-white text-center lh-lg text-decoration-none" asp-action="Cart"
                                        asp-controller="ViewProduct" asp-area="Products">
                                        <div
                                            class="header-item rounded p-1 d-flex align-items-center position-relative">
                                            <div class="header-item-icon d-flex align-items-center">
                                                <i class="text-white fa-solid fa-cart-shopping"></i>
                                            </div>
                                            <div class="header-item-text">
                                                Giỏ hàng
                                            </div>
                                            @{
                                                var cartList = _cart.GetCart();

                                            }
                                            <div class="position-absolute top-0 end-0">
                                                <div id="cart-quantity"
                                                    class="cart-quantity rounded-circle bg-white primary-text justify-content-center align-items-center fw-semibold"
                                                    style="width: 16px; height: 16px; font-size: 10px; @if(cartList == null || cartList.Count() == 0){
                                                @("display: none")
}else{
                                                @("display: flex")
}">
                                                    @if (cartList != null && cartList.Count() > 0)
                                                    {
                                                        @cartList.Count()
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <div class="header-item rounded p-1 d-flex align-items-center">
                                        <div class="ps-2 d-flex align-items-center">
                                            <i class="text-white fa-solid fa-truck-arrow-right"></i>
                                        </div>
                                        <div class="ps-2 pe-2">
                                            <a asp-action="OrderCheck" asp-controller="ViewProduct" asp-area="Products"
                                                class="text-white text-decoration-none lh-sm">
                                                <p class="mb-0 text-center">Tra cứu <br> đơn hàng</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="order-action-table-mobile navbar-nav align-items-center">
                                <li class="nav-item">
                                    <a class="mb-0 text-white text-center lh-lg text-decoration-none" asp-action="Cart"
                                        asp-controller="ViewProduct" asp-area="Products">
                                        <div
                                            class="header-item rounded p-1 d-flex align-items-center position-relative">
                                            <div class="header-item-icon d-flex align-items-center">
                                                <i class="text-white fa-solid fa-cart-shopping"></i>
                                            </div>
                                            @{
                                                var cart = _cart.GetCart();

                                            }
                                            <div class="position-absolute top-0 end-0">
                                                <div id="cart-quantity"
                                                    class="cart-quantity rounded-circle bg-white primary-text justify-content-center align-items-center fw-semibold"
                                                    style="width: 16px; height: 16px; font-size: 12px; @if(cart == null || cart.Count() == 0){
                                                @("display: none")
}else{
                                                @("display: flex")
}">
                                                    @if (cart != null && cart.Count() > 0)
                                                    {
                                                        @cart.Count()
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <partial name="_LoginPartial"></partial>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container-xl flex-grow-1">
            <main role="main" class="h-100">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted flex-shrink-0 home-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 p-lg-0 col-md-6">
                        <div class="footer-group">
                            <p class="footer-heading">Tổng đài hỗ trợ</p>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    Gọi mua hàng 1800.1789 (7h30 - 22h)
                                </li>
                                <li class="footer-item">
                                    Gọi khiếu nại 1800.1987 (8h00 - 21h30)
                                </li>
                                <li class="footer-item">
                                    Gọi bảo hành 1800.1879 (8h00 - 21h00)
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 p-lg-0 col-md-6">
                        <div class="footer-group">
                            <p class="footer-heading">Thông tin và chính sách</p>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    Mua hàng và thanh toán Online
                                </li>
                                <li class="footer-item">
                                    Mua hàng trả góp Online
                                </li>
                                <li class="footer-item">
                                    Chính sách giao hàng
                                </li>
                                <li class="footer-item">
                                    Tra thông tin bảo hành
                                </li>
                                <li class="footer-item">
                                    Tra cứu hoá đơn điện tử
                                </li>
                                <li class="footer-item">
                                    Thông tin hoá đơn mua hàng
                                </li>
                                <li class="footer-item">
                                    Trung tâm bảo hành chính hãng
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 p-lg-0 col-md-6">
                        <div class="footer-group">
                            <p class="footer-heading">Dịch vụ và thông tin khác</p>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    Khách hàng doanh nghiệp (B2B)
                                </li>
                                <li class="footer-item">
                                    Ưu đãi thanh toán
                                </li>
                                <li class="footer-item">
                                    Quy chế hoạt động
                                </li>
                                <li class="footer-item">
                                    Chính sách Bảo hành
                                </li>
                                <li class="footer-item">
                                    Liên hệ hợp tác kinh doanh
                                </li>
                                <li class="footer-item">
                                    Tuyển dụng
                                </li>
                                <li class="footer-item">
                                    Dịch vụ bảo hành điện thoại
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 p-lg-0 col-md-6">
                        <div class="footer-group">
                            <p class="footer-heading">Kết nối với chúng tôi</p>
                            <ul class="link-list ms-0">
                                <li class="link-item">
                                    <a href="https://youtube.com">
                                        <img src="/images/Youtube.png" alt="">
                                    </a>
                                </li>
                                <li class="link-item">
                                    <a href="https://facebook.com">
                                        <img src="/images/Facebook.png" alt="">
                                    </a>
                                </li>
                                <li class="link-item">
                                    <a href="https://instagram.com">
                                        <img src="/images/Instagram.png" alt="">
                                    </a>
                                </li>
                                <li class="link-item">
                                    <a href="https://tiktok.com">
                                        <img src="/images/Tiktok.png" alt="">
                                    </a>
                                </li>
                                <li class="link-item">
                                    <a href="https://zalo.me">
                                        <img src="/images/Zalo.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Danh mục</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="offcanvas-category">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <span class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    Danh mục sản phẩm
                                </span>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body pt-2">
                                    @{
                                        categoryData.Type = CategoryType.Tablet;
                                        @await Component.InvokeAsync("App.Components.HomeCategorySection", categoryData)
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <a asp-action="OrderCheck" asp-controller="ViewProduct" asp-area="Products"
                                    class="tb-mb-check-order accordion-button collapsed">
                                    Tra cứu đơn hàng
                                </a>
                            </h2>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <a href='@Url.Action("Create", "Contact", new {area = "Contacts"})'
                                    class="tb-mb-check-order accordion-button collapsed">
                                    Gửi ý kiến, phản hồi
                                </a>
                            </h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <a id="create-contact-btn" href='@Url.Action("Create", "Contact", new {area = "Contacts"})'
        class="contact-btn text-decoration-none">
        <i class="contact-icon fa-solid fa-envelope"></i>
    </a>

    <div id="chat-container">
        <div class="chat-btn position-relative">
            <i class="chat-icon fa-solid fa-comment-dots"></i>
            <span id="noti-new-message" style="display: none;"
                class="position-absolute top-0 start-100 translate-middle-x p-2 bg-danger border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
            </span>
        </div>
        <div class="chat-content">
            <div class="heading">
                <span>Chat với nhân viên cửa hàng</span>
                <span id="close-chat-btn" class="px-2">
                    <i class="text-white fa-solid fa-xmark"></i>
                </span>
            </div>
            <div class="message-list" id="message-list">
                <div class="please-login" id="alert-must-login">
                    Vui lòng đăng nhập
                </div>
            </div>
            <form>
                <div class="send-message-container">
                    <input class="form-control form-control-sm send-message-input" contenteditable="true"
                        id="message-content-send">
                    <button class="btn primary-bg btn-sm send-message-btn" id="btn-send-message">
                        <i class="text-white fa-solid fa-paper-plane"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>

    <script>
        const categoryBtn = $(".category-btn");
        const catrgoryBox = $(".header-category");
        categoryBtn.mouseenter(() => {
            catrgoryBox.get(0).style.visibility = 'visible';
            catrgoryBox.get(0).style.opacity = 1;
        });

        categoryBtn.mouseleave(() => {
            catrgoryBox.get(0).style.visibility = 'hidden';
            catrgoryBox.get(0).style.opacity = 0;
        });

        catrgoryBox.mouseenter((e) => {
            catrgoryBox.get(0).style.visibility = 'visible';
            catrgoryBox.get(0).style.opacity = 1;
        })

        catrgoryBox.mouseleave((e) => {
            catrgoryBox.get(0).style.visibility = 'hidden';
            catrgoryBox.get(0).style.opacity = 0;
        })

        var userId = "@((await _userManager.GetUserAsync(User))?.Id)";

    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
