@model Product

@{
    var firstColor = Model.Colors?.FirstOrDefault();
    var firstCapa = firstColor?.Capacities.FirstOrDefault();
    var rating = Model.Reviews.Count > 0 ? Model.Reviews.Average(x => x.Rate) : 0;

    var originPrice = firstCapa?.SellPrice ?? 0.0m;
    var newPrice = firstCapa?.SellPrice ?? 0.0m;

    var now = DateTime.Now;

    var discountOfProduct = Model.ProductDiscounts.Where(x => x.Discount.StartAt <= now && x.Discount.EndAt >=
    now).ToList();

    var percentDiscount = discountOfProduct.Sum(x => x.Discount.PercentDiscount);
    var moneyDiscount = discountOfProduct.Sum(x => x.Discount.MoneyDiscount);

    if (discountOfProduct != null && discountOfProduct.Count() > 0)
    {
        newPrice -= percentDiscount * originPrice / 100 - moneyDiscount;
    }
}

<div class="item">
    <div class="card w-100">
        <div class="card-img d-flex align-items-center">
            <a class="d-block w-100 h-100"
                href='@Url.Action("Details", "ViewProduct", new {area = "Products", slug = Model.Slug})'>
                <img src="/files/Products/@firstColor?.Image" class="card-img-top rounded-1" alt="...">
            </a>
        </div>
        <div class="card-body d-flex flex-column">
            <div class="card-title">
                <a
                    href='@Url.Action("Details", "ViewProduct", new {area = "Products", slug = Model.Slug})'>@Model.Name</a>
            </div>
            <div class="product-info">
                <div class="product-info-item">
                    @{
                        if (firstCapa != null)
                        {
                            <i class="fa-solid fa-memory"></i>
                            @(firstCapa.Ram + " GB")
                        }
                    }
                </div>
                <div class="product-info-item">
                    @if (firstCapa != null)
                    {
                        <i class="fa-solid fa-hard-drive"></i>
                        @(firstCapa.Rom + " GB")
                    }
                </div>
                <div class="product-info-item">
                    @if (Model.ScreenSize != null)
                    {
                        <i class="fa-solid fa-mobile-screen"></i>
                        @(Model.ScreenSize.Value + "\"")
                    }
                </div>
                <div class="product-info-item">
                    @if (Model.Battery != null)
                    {
                        <i class="fa-solid fa-battery-three-quarters"></i>
                        @(Model.Battery.Value + " mAh")
                    }
                </div>
            </div>
            <div class="card-price d-flex justify-content-between px-1">
                @if (newPrice != originPrice)
                {
                    <span class="selling-price primary-text">@(newPrice.ToString("N0", new
                    CultureInfo("vi-VN")))<sup>đ</sup></span>
                    <del class="old-price text-dark opacity-50">@(originPrice.ToString("N0", new
                    CultureInfo("vi-VN")))<sup>đ</sup></del>

                }
                else
                {
                    <span class="selling-price primary-text">@(originPrice.ToString("N0", new
                    CultureInfo("vi-VN")))<sup>đ</sup></span>
                }


            </div>
            <div class="product-rating d-flex mt-md-1" data-rate="@rating">
            </div>
            <div class="add-to-cart-btn ">
                <i class="add-to-cart-icon primary-text fa-solid fa-cart-plus"
                    onclick="AddToCart(@Model.Id@(firstColor?.Id == null ? "" : "," + firstColor.Id)@(firstCapa?.Id == null ? "" : "," + firstCapa.Id))"></i>
            </div>
        </div>
        <div class="discount-info">
            @if (percentDiscount != 0)
            {

                <div class="discount-item">
                    <span>Giảm @percentDiscount%</span>
                </div>
            }
            <br>
            @if (moneyDiscount != 0.0m)
            {
                <div class="discount-item">
                    <span>Giảm @moneyDiscount.ToString("N0", new CultureInfo("vi-VN"))<sup>đ</sup></span>
                </div>
            }
        </div>
    </div>
</div>