@using App.Services;
@inject HomeCategoryService _homeCategory
@{
    ViewData["Title"] = "Trang chủ";
    List<ProductWithRate>? productsBestSeller = _homeCategory.GetData().Products;
    List<ProductWithRate>? SamsungHot = ViewBag.SamsungHot;
    List<ProductWithRate>? IPhoneHot = ViewBag.IPhoneHot;
    List<ProductWithRate>? XiaomiHot = ViewBag.XiaomiHot;
    List<ProductWithRate>? RealmeHot = ViewBag.RealmeHot;
}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header align-items-center">
            <i class="text-warning fs-6 fa-solid fa-circle-exclamation"></i>
            <span class="ms-2 me-auto fs-6">Đã thêm sản phẩm vào giỏ hàng</span>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<partial name="_HomeSlide" />

<div class="product-bestseller product-container">
    <div class="arrow left-arrow">
        <i class="fa-solid fa-angle-left"></i>
    </div>
    <div class="arrow right-arrow">
        <i class="fa-solid fa-angle-right"></i>
    </div>
    <div class="heading">
        <img src="/images/best.png" alt="">
        <span>SẢN PHẨM BÁN CHẠY</span>
    </div>
        <div class="product_grid">
            
            @if(productsBestSeller != null)
            {
                foreach(var item in productsBestSeller)
                {
                    var product = item.Product;
                    var firstColor = product.Colors?.FirstOrDefault();
                    var firstCapa = firstColor?.Capacities.FirstOrDefault();
                    <div class="item">
                        <div class="card w-100">
                            <div class="card-img d-flex align-items-center">
                                <a class="d-block w-100 h-100"
                                    href='@Url.Action("Details", "ViewProduct", new {area = "Products", slug = @product.Slug})'>
                                    <img src="/files/Products/@firstColor!.Image" class="card-img-top rounded-1" alt="...">
                                </a>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <div class="card-title">
                                    <a href='@Url.Action("Details", "ViewProduct", new {area = "Products", slug = @product.Slug})'>@product.Name</a>
                                </div>
                                <div class="product-info">
                                    <div class="product-info-item">
                                        @{
                                            if (firstCapa != null)
                                            {
                                                <i class="fa-solid fa-memory"></i>
                                                @(firstCapa.Ram + " GB")
                                            }
                                        }
                                    </div>
                                    <div class="product-info-item">
                                        @if (firstCapa != null)
                                        {
                                            <i class="fa-solid fa-hard-drive"></i>
                                            @(firstCapa.Rom + " GB")
                                        }
                                    </div>
                                    <div class="product-info-item">
                                        @if (product.ScreenSize != null)
                                        {
                                            <i class="fa-solid fa-mobile-screen"></i>
                                            @(product.ScreenSize.Value + "\"")
                                        }
                                    </div>
                                    <div class="product-info-item">
                                        @if (product.Battery != null)
                                        {
                                            <i class="fa-solid fa-battery-three-quarters"></i>
                                            @(product.Battery.Value + " mAh")
                                        }
                                    </div>
                                </div>
                                <div class="card-price d-flex justify-content-between px-2">
                                    <span class="selling-price primary-text">@(firstCapa?.SellPrice.ToString("N0", new CultureInfo("vi-VN")))<sup>đ</sup></span>
                                    <del class="old-price text-dark opacity-50"></del>
                                </div>
                                <div class="product-rating d-flex" data-rate="@item.Rate">
                                        </div>
                                <div class="add-to-cart-btn ">
                                    <i class="add-to-cart-icon primary-text fa-solid fa-cart-plus" onclick="AddToCart(@product.Id@(firstColor?.Id == null ? "" : "," + firstColor.Id)@(firstCapa?.Id == null ? "" : "," + firstCapa.Id))"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<div class="container-xl">
    <h4 class="hot-heading"><a href='@Url.Action("Index", "ViewProduct", new {area = "Products", hangsx="Apple"})'>IPHONE NỔI BẬT</a> <img src="/images/hot-icon.webp" alt=""></h4>
    <div class="product-container">
        <div class="product_grid">
            @if(IPhoneHot != null)
            {
                foreach(var item in IPhoneHot)
                {
                    var product = item.Product;
                    var firstColor = product.Colors?.FirstOrDefault();
                    var srcImg = firstColor?.Image != null ? firstColor.Image : "no-image.png";
                    var firstCapa = firstColor?.Capacities.FirstOrDefault();
                    <div class="item">
                        <div class="card w-100">
                            <div class="card-img d-flex align-items-center">
                                <a class="d-block w-100 h-100"
                                    href='@Url.Action("Details", "ViewProduct", new {area = "Products", slug = @product.Slug})'>
                                    <img src="/files/Products/@firstColor!.Image" class="card-img-top rounded-1" alt="...">
                                </a>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <div class="card-title">
                                    <a href='@Url.Action("Details", "ViewProduct", new {area = "Products", slug = @product.Slug})'>@product.Name</a>
                                </div>
                                <div class="product-info">
                                    <div class="product-info-item">
                                        @{
                                            if (firstCapa != null)
                                            {
                                                <i class="fa-solid fa-memory"></i>
                                                @(firstCapa.Ram + " GB")
                                            }
                                        }
                                    </div>
                                    <div class="product-info-item">
                                        @if (firstCapa != null)
                                        {
                                            <i class="fa-solid fa-hard-drive"></i>
                                            @(firstCapa.Rom + " GB")
                                        }
                                    </div>
                                    <div class="product-info-item">
                                        @if (product.ScreenSize != null)
                                        {
                                            <i class="fa-solid fa-mobile-screen"></i>
                                            @(product.ScreenSize.Value + "\"")
                                        }
                                    </div>
                                    <div class="product-info-item">
                                        @if (product.Battery != null)
                                        {
                                            <i class="fa-solid fa-battery-three-quarters"></i>
                                            @(product.Battery.Value + " mAh")
                                        }
                                    </div>
                                </div>
                                <div class="card-price d-flex justify-content-between px-2">
                                    <span class="selling-price primary-text">@(firstCapa?.SellPrice.ToString("N0", new CultureInfo("vi-VN")))<sup>đ</sup></span>
                                    <del class="old-price text-dark opacity-50"></del>
                                </div>
                                <div class="product-rating d-flex" data-rate="@item.Rate">
                                        </div>
                                <div class="add-to-cart-btn ">
                                    <i class="add-to-cart-icon primary-text fa-solid fa-cart-plus" onclick="AddToCart(@product.Id@(firstColor?.Id == null ? "" : "," + firstColor.Id)@(firstCapa?.Id == null ? "" : "," + firstCapa.Id))"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            
        </div>
    </div>
</div>

<div class="container-xl">
    <h4 class="hot-heading"><a href='@Url.Action("Index", "ViewProduct", new {area = "Products", hangsx="Samsung"})'>SAMSUNG NỔI BẬT</a> <img src="/images/hot-icon.webp" alt=""></h4>
    <div class="product-container">
        <div class="product_grid">
            @if(SamsungHot != null)
            {
                foreach(var item in SamsungHot)
                {
                    var product = item.Product;
                    var firstColor = product.Colors?.FirstOrDefault();
                    var srcImg = firstColor?.Image != null ? firstColor.Image : "no-image.png";
                    var firstCapa = firstColor?.Capacities.FirstOrDefault();
                    <div class="item">
                        <div class="card w-100">
                            <div class="card-img d-flex align-items-center">
                                <a class="d-block w-100 h-100"
                                    href='@Url.Action("Details", "ViewProduct", new {area = "Products", slug = @product.Slug})'>
                                    <img src="/files/Products/@firstColor!.Image" class="card-img-top rounded-1" alt="...">
                                </a>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <div class="card-title">
                                    <a href='@Url.Action("Details", "ViewProduct", new {area = "Products", slug = @product.Slug})'>@product.Name</a>
                                </div>
                                <div class="product-info">
                                    <div class="product-info-item">
                                        @{
                                            if (firstCapa != null)
                                            {
                                                <i class="fa-solid fa-memory"></i>
                                                @(firstCapa.Ram + " GB")
                                            }
                                        }
                                    </div>
                                    <div class="product-info-item">
                                        @if (firstCapa != null)
                                        {
                                            <i class="fa-solid fa-hard-drive"></i>
                                            @(firstCapa.Rom + " GB")
                                        }
                                    </div>
                                    <div class="product-info-item">
                                        @if (product.ScreenSize != null)
                                        {
                                            <i class="fa-solid fa-mobile-screen"></i>
                                            @(product.ScreenSize.Value + "\"")
                                        }
                                    </div>
                                    <div class="product-info-item">
                                        @if (product.Battery != null)
                                        {
                                            <i class="fa-solid fa-battery-three-quarters"></i>
                                            @(product.Battery.Value + " mAh")
                                        }
                                    </div>
                                </div>
                                <div class="card-price d-flex justify-content-between px-2">
                                    <span class="selling-price primary-text">@(firstCapa?.SellPrice.ToString("N0", new CultureInfo("vi-VN")))<sup>đ</sup></span>
                                    <del class="old-price text-dark opacity-50"></del>
                                </div>
                                <div class="product-rating d-flex" data-rate="@item.Rate">
                                        </div>
                                <div class="add-to-cart-btn ">
                                    <i class="add-to-cart-icon primary-text fa-solid fa-cart-plus" onclick="AddToCart(@product.Id@(firstColor?.Id == null ? "" : "," + firstColor.Id)@(firstCapa?.Id == null ? "" : "," + firstCapa.Id))"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            
        </div>
    </div>
</div>

<div class="container-xl">
    <h4 class="hot-heading"><a href='@Url.Action("Index", "ViewProduct", new {area = "Products", hangsx="Xiaomi"})'>XIAOMI NỔI BẬT</a> <img src="/images/hot-icon.webp" alt=""></h4>
    <div class="product-container">
        <div class="product_grid">
            @if(XiaomiHot != null)
            {
                foreach(var item in XiaomiHot)
                {
                    var product = item.Product;
                    var firstColor = product.Colors?.FirstOrDefault();
                    var srcImg = firstColor?.Image != null ? firstColor.Image : "no-image.png";
                    var firstCapa = firstColor?.Capacities.FirstOrDefault();
                    <div class="item">
                        <div class="card w-100">
                            <div class="card-img d-flex align-items-center">
                                <a class="d-block w-100 h-100"
                                    href='@Url.Action("Details", "ViewProduct", new {area = "Products", slug = @product.Slug})'>
                                    <img src="/files/Products/@firstColor!.Image" class="card-img-top rounded-1" alt="...">
                                </a>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <div class="card-title">
                                    <a href='@Url.Action("Details", "ViewProduct", new {area = "Products", slug = @product.Slug})'>@product.Name</a>
                                </div>
                                <div class="product-info">
                                    <div class="product-info-item">
                                        @{
                                            if (firstCapa != null)
                                            {
                                                <i class="fa-solid fa-memory"></i>
                                                @(firstCapa.Ram + " GB")
                                            }
                                        }
                                    </div>
                                    <div class="product-info-item">
                                        @if (firstCapa != null)
                                        {
                                            <i class="fa-solid fa-hard-drive"></i>
                                            @(firstCapa.Rom + " GB")
                                        }
                                    </div>
                                    <div class="product-info-item">
                                        @if (product.ScreenSize != null)
                                        {
                                            <i class="fa-solid fa-mobile-screen"></i>
                                            @(product.ScreenSize.Value + "\"")
                                        }
                                    </div>
                                    <div class="product-info-item">
                                        @if (product.Battery != null)
                                        {
                                            <i class="fa-solid fa-battery-three-quarters"></i>
                                            @(product.Battery.Value + " mAh")
                                        }
                                    </div>
                                </div>
                                <div class="card-price d-flex justify-content-between px-2">
                                    <span class="selling-price primary-text">@(firstCapa?.SellPrice.ToString("N0", new CultureInfo("vi-VN")))<sup>đ</sup></span>
                                    <del class="old-price text-dark opacity-50"></del>
                                </div>
                                <div class="product-rating d-flex" data-rate="@item.Rate">
                                        </div>
                                <div class="add-to-cart-btn ">
                                    <i class="add-to-cart-icon primary-text fa-solid fa-cart-plus" onclick="AddToCart(@product.Id@(firstColor?.Id == null ? "" : "," + firstColor.Id)@(firstCapa?.Id == null ? "" : "," + firstCapa.Id))"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            
        </div>
    </div>
</div>

<div class="container-xl">
    <h4 class="hot-heading"><a href='@Url.Action("Index", "ViewProduct", new {area = "Products", hangsx="Realme"})'>REALME NỔI BẬT</a> <img src="/images/hot-icon.webp" alt=""></h4>
    <div class="product-container">
        <div class="product_grid">
            @if(RealmeHot != null)
            {
                foreach(var item in RealmeHot)
                {
                    var product = item.Product;
                    var firstColor = product.Colors?.FirstOrDefault();
                    var srcImg = firstColor?.Image != null ? firstColor.Image : "no-image.png";
                    var firstCapa = firstColor?.Capacities.FirstOrDefault();
                    <div class="item">
                        <div class="card w-100">
                            <div class="card-img d-flex align-items-center">
                                <a class="d-block w-100 h-100"
                                    href='@Url.Action("Details", "ViewProduct", new {area = "Products", slug = @product.Slug})'>
                                    <img src="/files/Products/@firstColor!.Image" class="card-img-top rounded-1" alt="...">
                                </a>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <div class="card-title">
                                    <a href='@Url.Action("Details", "ViewProduct", new {area = "Products", slug = @product.Slug})'>@product.Name</a>
                                </div>
                                <div class="product-info">
                                    <div class="product-info-item">
                                        @{
                                            if (firstCapa != null)
                                            {
                                                <i class="fa-solid fa-memory"></i>
                                                @(firstCapa.Ram + " GB")
                                            }
                                        }
                                    </div>
                                    <div class="product-info-item">
                                        @if (firstCapa != null)
                                        {
                                            <i class="fa-solid fa-hard-drive"></i>
                                            @(firstCapa.Rom + " GB")
                                        }
                                    </div>
                                    <div class="product-info-item">
                                        @if (product.ScreenSize != null)
                                        {
                                            <i class="fa-solid fa-mobile-screen"></i>
                                            @(product.ScreenSize.Value + "\"")
                                        }
                                    </div>
                                    <div class="product-info-item">
                                        @if (product.Battery != null)
                                        {
                                            <i class="fa-solid fa-battery-three-quarters"></i>
                                            @(product.Battery.Value + " mAh")
                                        }
                                    </div>
                                    @* <div class="product-info-item">
                                        @if (item.Chipset != null)
                                        {
                                            <i class="fa-solid fa-microchip"></i>
                                            @(item.Chipset)
                                        }
                                    </div> *@
                                </div>
                                <div class="card-price d-flex justify-content-between px-2">
                                    <span class="selling-price primary-text">@(firstCapa?.SellPrice.ToString("N0", new CultureInfo("vi-VN")))<sup>đ</sup></span>
                                    <del class="old-price text-dark opacity-50"></del>
                                </div>
                                <div class="product-rating d-flex" data-rate="@item.Rate">
                                        </div>
                                <div class="add-to-cart-btn ">
                                    <i class="add-to-cart-icon primary-text fa-solid fa-cart-plus" onclick="AddToCart(@product.Id@(firstColor?.Id == null ? "" : "," + firstColor.Id)@(firstCapa?.Id == null ? "" : "," + firstCapa.Id))"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/Helper/index.js"></script>
    <script src="~/js/Products/homePage.js"></script>
}