@model CreateProductModel

@{
    ViewData["Title"] = "Thêm hình ảnh";
}

<div class="card h-100">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <div class="product-add-photo d-flex flex-column">
            <div class="row product-photo-container">
                <div class="main-photo-container col-md-4">
                    <div class="main-photo-input-container">
                        <span class="form-label">Hình ảnh hiển thị</span>
                        <br>
                        <button class="btn btn-success mt-2" id="main-photo-btn">Upload <i
                                class="fa-solid fa-plus"></i></button>
                        <input type="file" name="MainPhoto" id="main-photo-input" hidden>
                    </div>
                    <div class="show-main-photo mt-4">

                    </div>
                </div>
                <div class="sub-photo-container col-md-8">
                    <div class="sub-photo-input-container">
                        <span class="form-label">Hình ảnh khác</span>
                        <br>
                        <button class="btn btn-success mt-2" id="sub-photo-btn">Upload <i
                                class="fa-solid fa-plus"></i></button>
                        <input type="file" name="SubPhoto" id="sub-photo-input" hidden>
                    </div>
                    <ul class="show-sub-photo row">

                    </ul>
                </div>
            </div>
            <div class="row mt-auto">
                <div class="col-md-4 d-flex">
                    <a asp-action="Index" asp-controller="Product" asp-area="Products" class="btn btn-success">Hoàn
                        tất</a>
                    <form method="post" asp-action="Delete" asp-controller="Product" asp-area="Products"
                        asp-route-Id="@ViewBag.Product.Id">
                        <button type="submit" class="btn btn-danger ms-2">Hủy bỏ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        const btnAddMainPhoto = $("#main-photo-btn");
        const inputMainPhoto = $("#main-photo-input");
        const showMainPhoto = $(".show-main-photo");

        const btnAddSubPhoto = $("#sub-photo-btn");
        const inputSubPhoto = $("#sub-photo-input");
        const showSubPhoto = $(".show-sub-photo")

        // Mở Input khi chọn thêm ảnh
        btnAddMainPhoto.click(function () {
            inputMainPhoto.click();
        });

        btnAddSubPhoto.click(function () {
            inputSubPhoto.click();
        })

        // Tải ảnh main lên server
        const UploadPhoto = function (type = 'main') {
            let file;
            if (type == 'sub')
                file = document.getElementById("sub-photo-input").files;
            else
                file = document.getElementById("main-photo-input").files;

            if (file == null) alert("abc");
            const formData = new FormData();
            formData.append("Id", @ViewBag.Product.Id);
            formData.append("FileUpload", file[0]);
            formData.append("type", type);

            $.ajax({
                url: '@Url.Action("UploadImage", "Product")',
                data: formData,
                type: 'POST',
                processData: false,
                cache: false,
                contentType: false,
                success: function (data) {
                    LoadImage();
                }
            })
        }

        // Xóa ảnh
        const DeletePhoto = function (Id, type = 'main') {
            const formData = new FormData();
            formData.append("Id", Id);
            formData.append("productid", @ViewBag.Product.Id);
            formData.append("type", type);

            $.ajax({
                url: '@Url.Action("DeleteImage", "Product")',
                data: formData,
                type: 'POST',
                processData: false,
                contentType: false,
                cache: false,
                success: function () {
                    LoadImage();
                }
            })
        }

        // Thêm sự kiện click cho nút xóa ảnh
        const SetDeleteMainPhoto = function () {
            $(".btn-delete-main-photo").click(function () {
                DeletePhoto($(this).data("id"));
                ResetInput();
                LoadImage();
            });
        }

        const SetDeleteSubPhoto = function () {
            $(".btn-delete-sub-photo").click(function () {
                DeletePhoto($(this).data("id"), 'sub');
                ResetInput();
                LoadImage();
            });
        }

        // Reset input 
        const ResetInput = function () {
            inputMainPhoto.val('');
            inputSubPhoto.val('');
        }

        // LoadImage
        const LoadImage = function () {
            var formData = new FormData();
            formData.append("Id", @ViewBag.Product.Id);

            $.ajax({
                url: '@Url.Action("GetPhoto", "Product")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    if (data.mainPhoto != null) {
                        const html = `
                                                                    <img src="/files/Products/${data.mainPhoto.filename}" id="main-photo-img">
                                                                    <button data-id="${data.mainPhoto.id}" class="btn btn-danger btn-delete-main-photo"><i class="fa-solid fa-xmark"></i></button>
                                                                `;
                        showMainPhoto.empty();
                        showMainPhoto.append(html);
                        showMainPhoto.show();
                        btnAddMainPhoto.hide();
                        SetDeleteMainPhoto();
                    }
                    else {
                        showMainPhoto.empty().hide();
                        btnAddMainPhoto.show();
                    }

                    if (data.subPhoto.length > 0) {
                        let html = '';
                        data.subPhoto.forEach(item => {
                            html += `
                                                        <li class="sub-photo-item col-md-4 mb-2">
                                                            <img src="/files/Products/${item.filename}" id="sub-photo-img">
                                                            <button data-id="${item.id}" class="btn btn-danger btn-delete-sub-photo"><i class="fa-solid fa-xmark"></i></button>
                                                        </li>
                                                    `;
                            showSubPhoto.empty();
                            showSubPhoto.append(html);
                            SetDeleteSubPhoto();
                        });
                    } else {
                        showSubPhoto.empty();
                    }
                }
            })
        }

        $(document).ready(function () {
            LoadImage();
            showMainPhoto.hide();

            inputMainPhoto.on('input', function () {
                UploadPhoto();
                ResetInput();
            })

            inputSubPhoto.on('input', function () {
                UploadPhoto('sub');
                ResetInput();
            })


        });
    </script>
}