@model CreateProductModel
@{
    ViewData["Title"] = "Thêm sản phẩm";
}

<div class="card">
    <div class="card-header">
        <i class="fa-solid fa-circle-plus text-primary fs-5"></i>
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="form-group mb-2">
                        <label asp-for="Code" class="form-label fw-semibold"></label>
                        <input asp-for="Code" class="form-control">
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Name" class="form-label fw-semibold"></label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="CategoryId" class="form-label fw-semibold"></label>
                        <select asp-for="CategoryId" asp-items="@ViewBag.Category" class="w-100"></select>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="BrandId" class="form-label fw-semibold"></label>
                        <select asp-for="BrandId" asp-items="@ViewBag.Brand" class="w-100 form-select"></select>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Slug" class="form-label fw-semibold"></label>
                        <input asp-for="Slug" class="form-control">
                        <span asp-validation-for="Slug" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="form-group mb-2">
                        <label asp-for="Battery" class="form-label fw-semibold"></label>
                        <input asp-for="Battery" class="form-control">
                        <span asp-validation-for="Battery" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="OS" class="form-label fw-semibold"></label>
                        <input asp-for="OS" class="form-control">
                        <span asp-validation-for="OS" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Chipset" class="form-label fw-semibold"></label>
                        <input asp-for="Chipset" class="form-control">
                        <span asp-validation-for="Chipset" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="ScreenSize" class="form-label fw-semibold"></label>
                        <input asp-for="ScreenSize" class="form-control">
                        <span asp-validation-for="ScreenSize" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Charger" class="form-label fw-semibold"></label>
                        <input asp-for="Charger" class="form-control">
                        <span asp-validation-for="Charger" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <label asp-for="EntryDate" class="form-label fw-semibold"></label>
                        <input asp-for="EntryDate" class="form-control" type="date">
                        <span asp-validation-for="EntryDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="ReleaseDate" class="form-label fw-semibold"></label>
                        <input asp-for="ReleaseDate" class="form-control" type="date">
                        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="SIM" class="form-label fw-semibold"></label>
                        <textarea asp-for="SIM" class="form-control" rows="2"></textarea>
                        <span asp-validation-for="SIM" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Camera" class="form-label fw-semibold"></label>
                        <textarea asp-for="Camera" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Camera" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4">
                        <input asp-for="Published" class="form-check-input" checked>
                        <label asp-for="Published" class="form-check-label"></label>
                        <span asp-validation-for="Published" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="product-img-container mt-2">
                <p class="mt-2 fw-semibold">Hình ảnh</p>
                <div class="sub-img-container w-100 d-flex flex-lg-wrap">
                    <div class="sub-img-item col-xl-3 col-md-4 d-flex justify-content-center align-items-center"
                        data-id="0">
                        <label asp-for="SubImage![0].FileUpload" class="btn btn-choose-sub-img">
                            <img src="~/images/upload_icon.png" alt="">
                        </label>
                        <input type="hidden" name="SubImage.Index" value="0">
                        <input asp-for="SubImage![0].FileUpload" hidden class="sub-input" oninput="changeSubImg(this)">
                        <div class="sub-img-show position-relative" style="display: none;">
                            <img class="sub-img w-100" style="object-fit: contain; height: 300px;">
                            <span
                                class="btn btn-primary btn-sm position-absolute top-0 end-0 mt-1 me-4 translate-middle-x"
                                onclick="editSubImg(this)">
                                <i class="text-white fa-regular fa-pen-to-square"></i>
                            </span>
                            <span class="btn btn-danger btn-sm position-absolute top-0 end-0 mt-1 me-1"
                                onclick="removeSubImg(this)">
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md">
                    <div class="form-group mb-2" id="color-container">
                        <p>
                            <span class="fw-semibold">Màu sắc</span>
                            <span class="btn btn-primary btn-sm ms-2" id="add-color">
                                <i class="fa-solid fa-plus"></i>
                            </span>
                        </p>
                        <div class="card color-group" data-index="0">
                            <div class="card-header position-relative">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <input type="hidden" name="ProductColor.Index" value="0">
                                            <div class="col-md-6">
                                                <label asp-for="ProductColor![0].Name" class="form-label"></label>
                                                <input asp-for="ProductColor![0].Name" class="form-control">
                                                <span asp-validation-for="ProductColor![0].Name"
                                                    class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <label asp-for="ProductColor![0].Code" class="form-label"></label>
                                                <input asp-for="ProductColor![0].Code"
                                                    class="form-control form-control-color" type="color">
                                                <span asp-validation-for="ProductColor![0].Code"
                                                    class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="color-image mt-2">
                                            <label asp-for="ProductColor![0].ImageFile" class="btn btn-choose-img">
                                                <img src="~/images/upload_icon.png" alt="">
                                            </label>
                                            <input asp-for="ProductColor![0].ImageFile" class="color-input-img" hidden
                                                accept=".png, .jpg, .jpeg, .webp" oninput="changeColorImg(this)">
                                            <div class="color-img-show-container position-relative"
                                                style="display: none;">
                                                <img class="color-img-show mt-2" src="" style="object-fit: contain;">
                                                <span
                                                    class="btn btn-primary btn-sm position-absolute top-0 end-0 mt-1 me-4 translate-middle-x"
                                                    onclick="editColorImg(this)">
                                                    <i class="text-white fa-regular fa-pen-to-square"></i>
                                                </span>
                                                <span
                                                    class="btn btn-danger btn-sm position-absolute top-0 end-0 mt-1 me-1"
                                                    onclick="removeColorImg(this)">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="option-group">
                                            <div>
                                                Options
                                                <span class="btn btn-primary btn-sm ms-2" id="add-options"
                                                    onclick="addOption(this)">
                                                    <i class="fa-solid fa-plus"></i>
                                                </span>
                                            </div>
                                            <div class="row option-item" data-id="0">
                                                <div class="col-md-2">
                                                    <input type="hidden" name="ProductColor[0].Capacities.Index"
                                                        value="0">
                                                    <label asp-for="ProductColor![0].Capacities[0].Ram"
                                                        class="form-label"></label>
                                                    <input asp-for="ProductColor![0].Capacities[0].Ram"
                                                        class="form-control">
                                                    <span asp-validation-for="ProductColor![0].Capacities[0].Ram"
                                                        class="text-danger"></span>
                                                </div>
                                                <div class="col-md-2">
                                                    <label asp-for="ProductColor![0].Capacities[0].Rom"
                                                        class="form-label"></label>
                                                    <input asp-for="ProductColor![0].Capacities[0].Rom"
                                                        class="form-control">
                                                    <span asp-validation-for="ProductColor![0].Capacities[0].Rom"
                                                        class="text-danger"></span>
                                                </div>
                                                <div class="col-md-2">
                                                    <label asp-for="ProductColor![0].Capacities[0].Quantity"
                                                        class="form-label">SL</label>
                                                    <input asp-for="ProductColor![0].Capacities[0].Quantity"
                                                        class="form-control">
                                                    <span asp-validation-for="ProductColor![0].Capacities[0].Quantity"
                                                        class="text-danger"></span>
                                                </div>
                                                <div class="col-md-3">
                                                    <label asp-for="ProductColor![0].Capacities[0].EntryPrice"
                                                        class="form-label"></label>
                                                    <input asp-for="ProductColor![0].Capacities[0].EntryPrice"
                                                        class="form-control">
                                                    <span asp-validation-for="ProductColor![0].Capacities[0].EntryPrice"
                                                        class="text-danger"></span>
                                                </div>
                                                <div class="col-md-3">
                                                    <label asp-for="ProductColor![0].Capacities[0].SellPrice"
                                                        class="form-label"></label>
                                                    <input asp-for="ProductColor![0].Capacities[0].SellPrice"
                                                        class="form-control">
                                                    <span asp-validation-for="ProductColor![0].Capacities[0].SellPrice"
                                                        class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* <span class="btn btn-danger btn-sm position-absolute top-0 end-0 me-1 mt-1"
                                onclick="deleteColor(this)">
                                <i class="fa-solid fa-xmark"></i>
                                </span> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md form-group mb-2">
                    <label asp-for="Description" class="form-label fw-semibold my-3"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group mt-4">
                        <button class="btn btn-success" type="submit">Tiếp tục</button>
                        <a class="btn btn-primary" asp-action="Index" asp-controller="Product" asp-area="Products">Quay
                            lại</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="modal-edit-img" class="modal-edit-img">
    <div class="card">
        <div class="card-header">
            Chỉnh sửa ảnh
        </div>
        <div class="card-body">
            <div class="result">
                <img id="result-img">
            </div>
        </div>
        <div class="card-footer d-flex">
            <span class="btn btn-primary btn-sm" onclick="SaveEditedFile(this)">Lưu về máy</span>
            <span class="btn btn-danger btn-sm ms-auto me-2" onclick="CancelEdit(this)">Hủy bỏ</span>
            <span class="btn btn-success btn-sm" onclick="ApplyEdit(this)">Đồng ý</span>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/cropperjs/cropper.min.js"></script>
    <script src="~/js/Products/CreateProduct.js"></script>
    <link rel="stylesheet" href="~/lib/cropperjs/cropper.min.css">

    <partial name="_RichTextEditor" model="@("Description")" />


    <partial name="_MultipleSelect" model="@("CategoryId")"></partial>
    <partial name="_ValidationScriptsPartial" />
}
