@model Product

@{
    ViewData["Title"] = "Chi tiết sản phẩm";
}

<div class="product-manager-detail">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <a class="text-decoration-none btn btn-primary btn-sm"
                href='@Url.Action("Index", "Product", new {area = "Products"})'>
                <i class="text-white fa-solid fa-arrow-left"></i>
            </a>
            <span class="ms-2">Chi tiết sản phẩm</span>
            <a class="btn text-primary text-decoration-none"
                href='@Url.Action("Edit", "Product", new {area = "Products", Model.Id})'>
                <i class="fa-regular fa-pen-to-square"></i>
            </a>
            <a class="btn text-primary text-decoration-none"
                href='@Url.Action("Details", "ViewProduct", new {area = "Products", slug = Model.Slug})'>Xem trên
                web</a>
        </div>
        <div class="card-body">
            <div class="product-manager-container">
                <h4>@Model.Name</h4>
                <div class="product-img">
                    <h5>Hình ảnh</h5>
                    <div class="row mb-4">
                        @foreach (var item in Model.Photos!)
                        {
                            <div class="col-xl-3 col-md-4 col-6 mb-4">
                                <img src="~/files/Products/@item.Name" alt="">
                            </div>
                        }
                    </div>
                </div>
                <div class="product-color mb-2">
                    <h5>Màu sắc</h5>
                    <div class="row">
                        @foreach (var item in Model.Colors)
                        {
                            <div class="col-xl-4 col-md-4 col-12 mb-4">
                                <div class="color-container">
                                    <div class="color-img d-flex justify-content-center align-items-center">
                                        <img src="~/files/Products/@item.Image" alt="" style="width: 200px;">
                                    </div>
                                    <div class="color-name">
                                        @item.Name
                                    </div>
                                    <ul class="color-capacity-list border mt-1">
                                        @foreach (var capa in item.Capacities)
                                        {
                                            <li class="color-capacity-item text-center p-2">
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <div class="col">
                                                        @(capa.Ram)GB/@(capa.Rom)GB: <br />
                                                    </div>
                                                    <div class="col">
                                                        Nhập: @capa.EntryPrice.ToString("N0", new
                                                           CultureInfo("vi-VN"))<sup>đ</sup> <br />
                                                        Bán: @capa.SellPrice.ToString("N0", new
                                                            CultureInfo("vi-VN"))<sup>đ</sup>
                                                    </div>
                                                    <div class="col">
                                                        Đã bán: @capa.Sold <br>
                                                        SL sẵn: @capa.Quantity
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="product-discount">
                    @if (Model.ProductDiscounts != null && Model.ProductDiscounts.Count > 0)
                    {
                        <h5>Khuyến mại</h5>
                        <table class="table table-striped">
                            <tr>
                                <th>Phần trăm giảm</th>
                                <th>Số tiền giảm</th>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kết thúc</th>
                                <th>Trạng thái</th>
                            </tr>
                            @foreach (var item in Model.ProductDiscounts)
                            {
                                <tr>
                                    <td>@item.Discount.PercentDiscount%</td>
                                    <td>@item.Discount.MoneyDiscount.ToString("N0", new CultureInfo("vi-VN"))<sup>đ</sup></td>
                                    <td>@item.Discount.StartAt.ToString("dd-MM-yyyy HH:ss")</td>
                                    <td>@item.Discount.EndAt.ToString("dd-MM-yyyy HH:ss")</td>
                                    <td>
                                        @{
                                            var now = DateTime.Now;
                                            if (item.Discount.StartAt > now)
                                            {
                                                @("Sắp diễn ra")
                                            }
                                            else if (item.Discount.EndAt < now)
                                            {
                                                @("Đã kết thúc")
                                            }
                                            else
                                            {
                                                @("Đang diễn ra")
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                </div>

                <div class="product-info my-4">
                    <h5>Thông tin</h5>
                    <table class="table table-striped">
                        <tr>
                            <td class="col-4">Tên sản phẩm</td>
                            <td class="col-6">@Model.Name</td>
                        </tr>
                        <tr>
                            <td class="col-4">Hãng sản xuất</td>
                            <td class="col-6">@Model.Brand?.Name</td>
                        </tr>
                        <tr>
                            <td class="col-4">Năm ra mắt</td>
                            <td class="col-6">@Model.ReleaseDate?.ToString("MM/yyyy")</td>
                        </tr>
                        <tr>
                            <td class="col-4">Kích thước màn hình</td>
                            <td class="col-6">@Model.ScreenSize"</td>
                        </tr>
                        <tr>
                            <td>Camera</td>
                            <td>@Model.Camera</td>
                        </tr>
                        <tr>
                            <td>Chipset</td>
                            <td>@Model.Chipset</td>
                        </tr>
                        <tr>
                            <td>Pin</td>
                            <td>@(Model.Battery)mAh (@(Model.Charger)W)</td>
                        </tr>
                        <tr>
                            <td>Thẻ sim</td>
                            <td>@Model.SIM</td>
                        </tr>
                        <tr>
                            <td>Hệ điều hành</td>
                            <td>@Model.OS</td>
                        </tr>
                    </table>
                </div>
                <div class="product-desc">
                    <h5>Mô tả</h5>
                    @Html.Raw(Model.Description)
                </div>
                <a class="btn btn-primary mt-4" asp-action="Index" asp-controller="Product" asp-area="Products">Quay
                    lại</a>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
    </script>
}