@model CreateProductModel
@{
    ViewData["Title"] = "Chính sửa sản phẩm";
    var mainPhoto = Model.Photos?.Where(p => p.Id == Model.MainPhoto).FirstOrDefault();
    var subPhoto = Model.Photos?.Where(p => p.Id != Model.MainPhoto).ToList();

    var colorList = new List<ColorExtend>();
}

<div class="card">
    <div class="card-header">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group mb-2">
                        <label asp-for="Code" class="form-label"></label>
                        <input asp-for="Code" class="form-control">
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="CategoryId" class="form-label"></label>
                        <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="w-100"></select>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="BrandId" class="form-label"></label>
                        <select asp-for="BrandId" asp-items="@ViewBag.Brands" class="w-100 form-select"></select>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Slug" class="form-label"></label>
                        <input asp-for="Slug" class="form-control">
                        <span asp-validation-for="Slug" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group mb-2">
                        <label asp-for="Battery" class="form-label"></label>
                        <input asp-for="Battery" class="form-control">
                        <span asp-validation-for="Battery" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="OS" class="form-label"></label>
                        <input asp-for="OS" class="form-control">
                        <span asp-validation-for="OS" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Chipset" class="form-label"></label>
                        <input asp-for="Chipset" class="form-control">
                        <span asp-validation-for="Chipset" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="ScreenSize" class="form-label"></label>
                        <input asp-for="ScreenSize" class="form-control">
                        <span asp-validation-for="ScreenSize" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Charger" class="form-label"></label>
                        <input asp-for="Charger" class="form-control">
                        <span asp-validation-for="Charger" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="EntryDate" class="form-label"></label>
                        <input asp-for="EntryDate" class="form-control" type="date">
                        <span asp-validation-for="EntryDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="ReleaseDate" class="form-label"></label>
                        <input asp-for="ReleaseDate" class="form-control" type="date">
                        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <label asp-for="SIM" class="form-label"></label>
                        <textarea asp-for="SIM" class="form-control" rows="2"></textarea>
                        <span asp-validation-for="SIM" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Camera" class="form-label"></label>
                        <textarea asp-for="Camera" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Camera" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Description" class="form-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4">
                        <input asp-for="Published" class="form-check-input" checked>
                        <label asp-for="Published" class="form-check-label"></label>
                        <span asp-validation-for="Published" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="product-add-photo d-flex flex-column mt-4">
                <div class="row product-photo-container">
                    <div class="main-photo-container col-md-4">
                        <div class="main-photo-input-container">
                            <span class="form-label">Hình ảnh hiển thị</span>
                            <br>
                            <div id="btn-add-main-photo" @if (mainPhoto != null)
                            {
                                <text>style="display: none"</text>
                            }>
                                <label for="main-photo-input" class="btn btn-success mt-2" id="main-photo-btn">Upload
                                    <i class="fa-solid fa-plus"></i></label>
                                <input type="file" name="newPrimaryPhoto.FileUpload" id="main-photo-input" hidden
                                    oninput="changeMainPhoto(this)">
                            </div>
                        </div>
                        <div class="show-main-photo mt-4 position-relative" @if (mainPhoto == null)
                        {
                            <text>
                                style="display:none"</text>
                        }>
                            <img src="/files/Products/@mainPhoto?.Name" id="main-photo-img">
                            <span data-id="@mainPhoto?.Id"
                                class="btn btn-danger position-absolute top-0 end-0 mt-1 me-1"
                                onclick="deleteMainPhoto(@mainPhoto?.Id)">
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                        </div>
                    </div>
                    <div class="sub-photo-container col-md-8">
                        <div class="sub-photo-input-container">
                            <span class="form-label">Hình ảnh khác</span>
                            <br>
                            <div id="btn-add-sub-photo">
                                <label for="sub-photo-input-0" class="btn btn-success mt-2" id="sub-photo-btn">Upload <i
                                        class="fa-solid fa-plus"></i></label>
                                <input type="hidden" name="newSubPhoto.Index" value="0">
                                <input type="file" name="newSubPhoto[0].FileUpload" id="sub-photo-input-0" hidden
                                    data-id="0" oninput="changeSubPhoto(this)">
                            </div>
                        </div>
                        <ul class="show-sub-photo row">
                            @if (subPhoto != null)
                            {
                                foreach (var item in subPhoto)
                                {
                                    <li class="sub-photo-item col-md-4 mb-2 position-relative">
                                        <img src="/files/Products/@item.Name" id="sub-photo-img">
                                        <span data-id="@item.Id" class="btn btn-danger position-absolute top-0 end-0 mt-1 me-3"
                                            onclick="chadeleteSubPhoto(this, @item.Id)">
                                            <i class="fa-solid fa-xmark"></i>
                                        </span>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="data-product-img" hidden>
                        <div class="main">
                            @if (mainPhoto != null)
                            {
                                <input id="currentMainPhoto" type="text" name="currentMainPhoto" value="@mainPhoto.Id">
                            }
                        </div>
                        <div class="sub">
                            @if (subPhoto != null)
                            {
                                foreach (var item in subPhoto)
                                {
                                    <input class="currentSubPhoto" type="text" name="currentSubPhoto" value="@item.Id">
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <div class="form-group mb-2" id="color-container">
                        <p>
                            Màu sắc
                            <span class="btn btn-primary btn-sm ms-2" id="add-color">
                                <i class="fa-solid fa-plus"></i>
                            </span>
                        </p>
                        @if (Model.Colors != null)
                        {
                            int index = 0;
                            foreach (var item in Model.ProductColor)
                            {
                                <div class="card color-group" data-index="@index">
                                    <div class="card-header position-relative">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label asp-for="@item.Name" class="form-label"></label>
                                                        <input asp-for="@item.Name" class="form-control">
                                                        <span asp-validation-for="@item.Name" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label asp-for="@item.Code" class="form-label"></label>
                                                        <input asp-for="@item.Code" class="form-control form-control-color"
                                                            type="color">
                                                        <span asp-validation-for="@item.Code" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="color-image mt-2">
                                                    <label asp-for="ProductColor[0].ImageFile"
                                                        class="btn btn-success btn-sm btn-choose-img">Thêm ảnh</label>
                                                    <input asp-for="ProductColor[0].ImageFile" class="color-input-img" hidden
                                                        accept=".png, .jpg, .jpeg, .webp" oninput="changeColorImg(this)">
                                                    <div class="color-img-show-container w-75 position-relative"
                                                        style="display: none;">
                                                        <img class="color-img-show w-100 mt-2" src=""
                                                            style="object-fit: contain;">
                                                        <span
                                                            class="btn btn-danger btn-sm position-absolute top-0 end-0 mt-1 me-1"
                                                            onclick="removeColorImg(this)">
                                                            <i class="fa-solid fa-xmark"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            @if (item.Capacities != null)
                                            {
                                                foreach (var op in item.Capacities)
                                                {
                                                    <div class="col-md-8">
                                                        <div class="option-group">
                                                            <div>
                                                                Options
                                                                <span class="btn btn-primary btn-sm ms-2" id="add-options"
                                                                    onclick="addOption(this)">
                                                                    <i class="fa-solid fa-plus"></i>
                                                                </span>
                                                            </div>
                                                            <div class="row option-item" data-id="0">
                                                                <div class="col-md-2">
                                                                    <label asp-for="@op.Ram"
                                                                        class="form-label"></label>
                                                                    <input asp-for="ProductColor[0].Capacities[0].Ram"
                                                                        class="form-control">
                                                                    <span asp-validation-for="ProductColor[0].Capacities[0].Ram"
                                                                        class="text-danger"></span>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label asp-for="ProductColor[0].Capacities[0].Rom"
                                                                        class="form-label"></label>
                                                                    <input asp-for="ProductColor[0].Capacities[0].Rom"
                                                                        class="form-control">
                                                                    <span asp-validation-for="ProductColor[0].Capacities[0].Rom"
                                                                        class="text-danger"></span>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label asp-for="ProductColor[0].Capacities[0].Quantity"
                                                                        class="form-label"></label>
                                                                    <input asp-for="ProductColor[0].Capacities[0].Quantity"
                                                                        class="form-control">
                                                                    <span asp-validation-for="ProductColor[0].Capacities[0].Quantity"
                                                                        class="text-danger"></span>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label asp-for="ProductColor[0].Capacities[0].EntryPrice"
                                                                        class="form-label"></label>
                                                                    <input asp-for="ProductColor[0].Capacities[0].EntryPrice"
                                                                        class="form-control">
                                                                    <span asp-validation-for="ProductColor[0].Capacities[0].EntryPrice"
                                                                        class="text-danger"></span>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label asp-for="ProductColor[0].Capacities[0].SellPrice"
                                                                        class="form-label"></label>
                                                                    <input asp-for="ProductColor[0].Capacities[0].SellPrice"
                                                                        class="form-control">
                                                                    <span asp-validation-for="ProductColor[0].Capacities[0].SellPrice"
                                                                        class="text-danger"></span>
                                                                </div>
                                                                <div class="col-md-2 mb-1 mt-auto">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                index++;
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="form-group mt-4">
                <button class="btn btn-success" type="submit">Lưu lại</button>
            </div>
        </form>
    </div>
</div>


@section Scripts
    {
    <script>
        const btnAddMainPhoto = $("#btn-add-main-photo");
        const showMainPhoto = $(".show-main-photo");
        const mainImg = $("#main-photo-img");
        const inputMainPhoto = $("#main-photo-input");

        const showSubPhoto = $(".show-sub-photo");
        const btnAddSubPhoto = $("#btn-add-sub-photo");

        const deleteMainPhoto = function (id = null) {
            $(".data-product-img .main #currentMainPhoto").remove();
            btnAddMainPhoto.show();
            showMainPhoto.hide();
            inputMainPhoto.val("");
        }

        const changeMainPhoto = function (element) {
            mainImg.attr("src", URL.createObjectURL(element.files[0]));
            showMainPhoto.show();
            btnAddMainPhoto.hide();
        }

        const chadeleteSubPhoto = function (element, id) {
            $(".data-product-img .sub .currentSubPhoto").each((index, e) => {
                if ($(e).val() == id)
                    $(e).remove();
            });

            $(element).closest(".sub-photo-item").remove();
        }

        const changeSubPhoto = function (element) {
            // show ảnh
            const lastIndexInput = btnAddSubPhoto.children("input[type='file']").last().data("id");
            const showImgHtml = `
                        <li class="sub-photo-item col-md-4 mb-2 position-relative" data-id="${lastIndexInput}">
                            <img src="${URL.createObjectURL(element.files[0])}" id="sub-photo-img">
                            <span class="btn btn-danger position-absolute top-0 end-0 mt-1 me-3" onclick="deleteNewSubPhoto(this)">
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                        </li>
                    `;
            showSubPhoto.append(showImgHtml);


            // thêm phần tử input cho subphoto
            const nexIndexInput = lastIndexInput + 1;
            const inputElement = `
                        <input type="hidden" name="newSubPhoto.Index" value="${nexIndexInput}">
                        <input type="file" name="newSubPhoto[${nexIndexInput}].FileUpload" id="sub-photo-input-${nexIndexInput}" data-id="${nexIndexInput}" hidden oninput="changeSubPhoto(this)">
                    `;
            btnAddSubPhoto.append(inputElement);
            btnAddSubPhoto.children("#sub-photo-btn").attr("for", `sub-photo-input-${nexIndexInput}`);
        }

        const deleteNewSubPhoto = function (element) {
            const currentItemShow = $(element).closest(".sub-photo-item");
            const indexItem = currentItemShow.data("id");
            // xóa ảnh show
            showSubPhoto.children(".sub-photo-item").each((index, e) => {
                if ($(e).data("id") == indexItem) {
                    $(e).remove();
                }
            });

            // xóa thẻ input có ảnh bị xóa
            btnAddSubPhoto.children("input[type='file']").each((index, e) => {
                if ($(e).data("id") == indexItem) {
                    $(e).remove();
                }
            })
        }

    </script>
    <partial name="_MultipleSelect" model="@("CategoryId")"></partial>
    <partial name="_ValidationScriptsPartial" />
}
