@using System.Globalization;
@{
    ViewData["Title"] = "Trang quản trị";
    Layout = "/Views/Shared/_LayoutAdminCP.cshtml";

    decimal TotalRevenue = ViewBag.TotalRevenue;
    var queryRevenue = Context.Request.Query["revenure"].ToString();
    var dataRevenure = ViewBag.DataRevenure as Dictionary<string, string>;
}

<div class="admin-dashboard">
    <h4 class="heading">Dashboard</h4>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">
                            <div class="title">
                                Sản phẩm (Tổng kho @ViewBag.ProductTotal)
                            </div>
                            <div class="content">
                                @ViewBag.ProductCount
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link"
                                href='@Url.Action("Index", "Product", new {area = "Products"})'>Quản lý</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">
                            <div class="title">
                                Hãng sản xuất
                            </div>
                            <div class="content">
                                @ViewBag.BrandCount
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link"
                                href='@Url.Action("Index", "Brand", new {area = "Products"})'>Quản lý</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card bg-info text-white mb-4">
                        <div class="card-body">
                            <div class="title">
                                Tổng doanh thu (Đã bán @ViewBag.TotalSold)
                            </div>
                            <div class="content">
                                @TotalRevenue.ToString("N0", new CultureInfo("vi-VN"))<sup>đ</sup>
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href='#'></a>
                            <div class="small text-white opacity-0"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">
                            <div class="title">
                                Đơn hàng
                            </div>
                            <div class="content">
                                @ViewBag.OrderCount
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link"
                                href='@Url.Action("Index", "Order", new {area = "Products"})'>Quản lý</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">
                            <div class="title">
                                Khách hàng
                            </div>
                            <div class="content">
                                @ViewBag.CustomerCount
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link"
                                href='@Url.Action("Index", "User", new {area = "Identity"})'>Quản lý</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="left-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Doanh thu
                    </div>
                    <div class="right-header">
                        <div class="dropdown">
                            <a class="btn btn-sm dropdown-toggle" href="#" role="button"
                                style="border: 1px solid #ced4da; background-color: #fff; min-width: 100px;"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                @switch (queryRevenue)
                                {
                                    case "thisweek":
                                        @("Tuần này")
                                        break;
                                    case "thismonth":
                                        @("Tháng này")
                                        break;
                                    case "thisyear":
                                        @("Năm nay")
                                        break;
                                    default:
                                        @("Hôm nay")
                                        break;
                                }
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item"
                                        href='@Url.Action("Index", "AdminCP", new {area = "AdminCP", revenure = "today"})'>
                                        Hôm nay
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        href='@Url.Action("Index", "AdminCP", new {area = "AdminCP", revenure = "thisweek"})'>
                                        Tuần này
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        href='@Url.Action("Index", "AdminCP", new {area = "AdminCP", revenure = "thismonth"})'>
                                        Tháng này
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        href='@Url.Action("Index", "AdminCP", new {area = "AdminCP", revenure = "thisyear"})'>
                                        Năm nay
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
            </div>
            <div class="best-selling">
                <div class="best-sell-list">
                    <div class="best-sell-item">

                    </div>
                </div>
            </div>
        </div>
        <div class="order-info-container mb-4 col-6">
            <ul class="info-list">
                <li class="info-item">
                    <a href='@Url.Action("Index", "Order", new {area = "Products", f = "-1"})' class="info-item-link">
                        <div class="item-icon">
                            <i class="fa-solid fa-money-check-dollar"></i>
                        </div>
                        <div class="item-quantity text-primary fw-semibold">
                            @ViewBag.OrderNotPayed
                        </div>
                        <div class="item-content">
                            Đơn hàng chưa thanh toán
                        </div>
                        <div class="item-nav-icon">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </a>
                </li>
                <li class="info-item">
                    <a href='@Url.Action("Index", "Order", new {area = "Products", f = "0"})' class="info-item-link">
                        <div class="item-icon">
                            <i class="fa-solid fa-cart-arrow-down"></i>
                        </div>
                        <div class="item-quantity text-primary fw-semibold">
                            @ViewBag.OrderWaiting
                        </div>
                        <div class="item-content">
                            Đơn hàng chưa xác nhận
                        </div>
                        <div class="item-nav-icon">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </a>
                </li>
                <li class="info-item">
                    <a href='@Url.Action("Index", "Order", new {area = "Products", f = "1"})' class="info-item-link">
                        <div class="item-icon">
                            <i class="fa-solid fa-cart-flatbed"></i>
                        </div>
                        <div class="item-quantity text-primary fw-semibold">
                            @ViewBag.OrderNotDelivering
                        </div>
                        <div class="item-content">
                            Đơn hàng chưa giao
                        </div>
                        <div class="item-nav-icon">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </a>
                </li>
                <li class="info-item">
                    <a href='@Url.Action("Index", "Order", new {area = "Products", f = "2"})' class="info-item-link">
                        <div class="item-icon">
                            <i class="fa-solid fa-truck-arrow-right"></i>
                        </div>
                        <div class="item-quantity text-primary fw-semibold">
                            @ViewBag.OrderDelivering
                        </div>
                        <div class="item-content">
                            Đơn hàng đang giao
                        </div>
                        <div class="item-nav-icon">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </a>
                </li>
                <li class="info-item">
                    <a href='@Url.Action("Index", "Order", new {area = "Products", f = "3"})' class="info-item-link">
                        <div class="item-icon">
                            <i class="fa-solid fa-people-carry-box"></i>
                        </div>
                        <div class="item-quantity text-primary fw-semibold">
                            @ViewBag.OrderDelivered
                        </div>
                        <div class="item-content">
                            Đơn hàng đã hoàn tất
                        </div>
                        <div class="item-nav-icon">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </a>
                </li>
                <li class="info-item">
                    <a href='@Url.Action("Index", "Order", new {area = "Products", f = "4"})' class="info-item-link">
                        <div class="item-icon">
                            <i class="fa-solid fa-rectangle-xmark"></i>
                        </div>
                        <div class="item-quantity text-primary fw-semibold">
                            @ViewBag.OrderCanceled
                        </div>
                        <div class="item-content">
                            Đơn hàng đã hủy
                        </div>
                        <div class="item-nav-icon">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var ctx = document.getElementById("myBarChart");
        var myLineChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [@Html.Raw(string.Join(",", dataRevenure!.Select(c => $"\"{c.Key}\"")))],
                datasets: [{
                    label: "Doanh thu",
                    backgroundColor: "rgba(2,117,216,1)",
                    borderColor: "rgba(2,117,216,1)",
                    data: [@string.Join(",", dataRevenure!.Select(c => c.Value))],
                }],
            },
            options: {
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'month'
                        },
                        gridLines: {
                            display: true
                        },
                        ticks: {
                            maxTicksLimit: @dataRevenure!.Count
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: @dataRevenure.Max(c => c.Value) * 2,
                            maxTicksLimit: 5
                        },
                        gridLines: {
                            display: true
                        }
                    }],
                },
                legend: {
                    display: false
                }
            }
        });
    </script>
}