@using Microsoft.EntityFrameworkCore

@inject AppDbContext dbContext

@{
    ViewData["Title"] = "Thông tin Database";
    var connect = dbContext.Database.GetDbConnection();
    var dbname = connect.Database;
    var canconnect = dbContext.Database.CanConnect();
    var backUpList = ViewBag.BackUpList as List<string>;
    backUpList ??= new List<String>();
}

<partial name="_AlertMessage" />

<h2>@ViewData["Title"]</h2>
<p>Database name: @dbname</p>
<p>Source: @connect.DataSource</p>
<p>State: @connect.State</p>
<hr>
<h2>Migrations</h2>
@foreach(var item in dbContext.Database.GetAppliedMigrations())
{
    <p>@item</p>
}
@foreach(var item in dbContext.Database.GetPendingMigrations())
{
    <p>@item (pending)</p>
}

@if(dbContext.Database.GetPendingMigrations().Any())
{
    <a class="btn btn-primary" asp-action="Migrations" asp-controller="DbManager" asp-area="Database">Cập nhật Database</a>
}

@if(!canconnect)
{
    <p class="alert alert-info">Không thể kết nối Database</p>
}
else
{
    <hr>
    <h2>Các bảng</h2>
    await dbContext.Database.OpenConnectionAsync();
    var table = dbContext.Database.GetDbConnection().GetSchema("Tables");
    <ul>
        @foreach(System.Data.DataRow item in table.Rows)
        {
            <li>@item["TABLE_NAME"]</li>
        }
    </ul>

    <a class="btn btn-success" asp-action="SeedData" asp-controller="DbManager" asp-area="Database">Seed Data</a>
    <a class="btn btn-danger" href="#">Xóa Database</a>

}

<hr>
<h2>Sao lưu và phục hồi</h2>
@foreach(var item in backUpList)
{
    <p class="mb-0">@item 
        <a href='@Url.Action("RestoreDB", "DbManager", new {area = "Database", fileName = item})' class="btn btn-sm">
            <svg fill="green" height="14px" width="14px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 342.5 342.5" xml:space="preserve">
            <path d="M254.37,22.255c-1.161-0.642-2.53-0.795-3.803-0.428c-1.274,0.367-2.35,1.226-2.992,2.387l-21.758,39.391
                c-1.335,2.417-0.458,5.459,1.96,6.794C264.616,90.748,287.5,129.495,287.5,171.52c0,63.649-51.782,115.431-115.431,115.431
                S56.638,235.169,56.638,171.52c0-23.888,7.557-47.427,21.382-66.897l34.478,34.478c1.338,1.337,3.315,1.806,5.109,1.21
                c1.795-0.596,3.101-2.152,3.374-4.024L139.963,6.271c0.228-1.563-0.295-3.141-1.412-4.258c-1.117-1.117-2.7-1.639-4.258-1.412
                L4.278,19.584c-1.872,0.273-3.428,1.579-4.023,3.374c-0.596,1.795-0.127,3.772,1.21,5.109l37.292,37.292
                C14.788,95.484,1.638,133,1.638,171.52c0,93.976,76.455,170.431,170.431,170.431c93.976,0,170.431-76.455,170.431-170.431
                C342.5,109.478,308.731,52.283,254.37,22.255z"/>
            </svg>
        </a>
    </p>
}
<form method="get" class="row" asp-action="BackupDB" asp-controller="DbManager" asp-area="Database">
    <p class="fw-semibold fs-5">Tạo sao lưu</p>
    <div class="form-group col-3">
        <label class="form-label" for="">Ghi chú</label>
        <input class="form-control form-control-sm" type="text" name="info">
        <button type="submit" class="btn btn-primary btn-sm mt-2">Tạo</button>
    </div>
</form>